/* .App {
  text-align: center;
} */

.CreateGist {
  width: 80%;
  height: 100%;
  right: 20px;
  position: absolute;
  margin: 0;
  padding-top: 100px;
}

.Form1 {
  padding: 20px;
  width: 80%;
  position: relative;
}


.DecryptGist {
  width: 80%;
  height: 100%;
  right: 20px;
  position: absolute;
  margin: 0;
  padding-top: 100px;
}

.Form2 {
  padding: 20px;
  width: 80%;
  position: relative;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
